/* All Common Css Start  */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.container {
  width: 1320px;
  margin: 0 auto;
  max-width: 100%;
}
/* All Common Css End */

/* Header Part Start  */
#Header_Part {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul li {
  display: inline-block;
}
.menu ul li a {
  padding: 0 24px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Source Sans 3", serif;
  line-height: 100px;
  transition: 0.5s;
}
.menu ul li a:hover {
  color: #e4b855;
}
.nav_bar .search .donate {
  padding: 11px 71px;
  background: #e4b855;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;
  font-family: "Source Sans 3", serif;
}
.nav_bar .search .donate:hover {
  background: white;
  color: #b8b8b8;
}
.nav_bar .search i {
  margin-left: 24px;
  font-size: 20px;
  color: white;
  transition: 0.5s;
}
.nav_bar .search i:hover {
  color: #e4b855;
}
/* Header Part End */

/* Banner Part Start  */
#banner_part {
}
.banner_image {
  background: url(../images/slider-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner_image .overlay {
  padding: 200px 0 230px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 38.7px;
}
.banner_image .overlay h1 {
  color: white;

  font-weight: 900;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  padding: 0 50px;
  line-height: 80px;
}
.banner_image .overlay p {
  padding: 24px 303px 0;
  color: white;
  font-size: 19px;
  font-family: "Source Sans 3", serif;
}
/* Banner Part End */

/* About Part Start  */
#about_part {
  display: flex;
}
.about_img {
  width: 50%;
  background: url(../images/about-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about_img .overlay {
  padding: 230px 0;
  background: none;
}
.about_img img {
  width: 100%;
}
.about_text {
  padding-top: 108px;
  padding-bottom: 45px;
  width: 50%;
}
.about_margin {
  width: 80%;
  margin: 0 auto;
}
.about_heading h1 {
  font-family: "Playfair Display", serif;
  font-size: 29px;
  line-height: 32px;
  color: black;
}
.about_subheading {
  margin-top: 37px;
  font-size: 22px;
  background: white;
  line-height: 26px;
  font-family: "Source Sans 3", serif;
  color: #606060;
}
.about_p {
  margin-top: 37px;
  font-size: 19px;
  background: white;
  line-height: 24px;
  font-family: "Source Sans 3", serif;
  color: #606060;
}
/* About Part End */

/* Service Part Start  */
#service_part {
  background: url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#service_part .overlay {
  padding: 180px 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.service_text h2 {
  padding: 0 270px;
  font-size: 30px;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.service_text p {
  padding: 30px 370px 0;
  color: white;
  font-family: "Source Sans 3", serif;
  font-size: 20px;
}
.flex_service {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.service_item {
  padding: 50px 15px;
  background: #e8e8e8;
  width: 13%;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  transition: 0.4s;
}
.service_item i {
  font-size: 65px;
}
.service_item p {
  padding-top: 30px;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Source Sans 3", serif;
}
.service_item:hover {
  background: #e4b855;
  color: white;
  -webkit-box-shadow: 6px 14px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 14px 16px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 14px 16px -2px rgba(0, 0, 0, 0.75);
}
/* Service Part End */

/* Introduce Part Start  */
#introduce_part {
  padding: 90px 0;
  position: relative;
}
.introduce_heading {
  padding: 70px 0;
  text-align: center;
}
.introduce_heading h1 {
  font-size: 33px;
}
.introduce_heading p {
  padding: 0 320px;
  font-size: 22px;
  line-height: 26px;
  font-family: "Source Sans 3", serif;
  color: #606060;
}
.introduce_flex {
  display: flex;
  flex-wrap: wrap;
}

/* introduce l item start  */
.introduce_l_item {
  padding: 90px 0;
  width: 50%;
}
.introduce_l_item h1 {
  font-size: 30px;
  color: black;
  transition: 0.4s;
}
.introduce_l_item h1:hover {
  color: #e4b855;
}
.introduce_l_item p {
  padding: 12px 123px 12px 0;
  font-size: 19px;
  line-height: 27px;
  font-family: "Source Sans 3", serif;
  color: #606060;
}
.introduce_l_item .introduce_btn a {
  font-style: italic;
  font-family: "Source Sans 3", serif;
  font-size: 18px;
  color: #e4b855;
  transition: 0.4s;
}
.introduce_l_item a:hover {
  color: #606060;
}
.introduce_r_item {
  width: 50%;
}
.introduce_r_item img {
  width: 100%;
}

/* introduce l item down start  */
.introduce_l_item_down {
  padding: 90px 0;
  width: 50%;
}
.introduce_l_item_down {
  padding: 90px 0;
  width: 50%;
}
.introduce_l_item_down h1 {
  padding-left: 125px;
  font-size: 30px;
  color: black;
  transition: 0.4s;
}
.introduce_l_item_down h1:hover {
  color: #e4b855;
}
.introduce_l_item_down p {
  padding: 12px 0 12px 125px;
  font-size: 19px;
  line-height: 27px;
  font-family: "Source Sans 3", serif;
  color: #606060;
}
.introduce_l_item_down .introduce_btn a {
  padding-left: 125px;
  font-style: italic;
  font-family: "Source Sans 3", serif;
  font-size: 18px;
  color: #e4b855;
  transition: 0.4s;
}
.introduce_l_item_down .introduce_btn a:hover {
  color: #606060;
}
#introduce_part .box {
  height: 200px;
  width: 200px;
  background: #e4b855;
  border: 10px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translatex(-50%);
  text-align: center;
}
.box p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
  font-family: "Source Sans 3", serif;
}
/* Introduce Part End */

/* Sermon Part Start  */
#sermon_part {
  padding: 40px 0;
  position: relative;
}
.sermon_heading {
  padding-bottom: 90px;
  text-align: center;
}
.sermon_heading h1 {
  font-size: 33px;
}
.sermon_heading p {
  padding: 0 320px;
  font-size: 22px;
  line-height: 26px;
  font-family: "Source Sans 3", serif;
  color: #606060;
}
.sermon_flex {
  display: flex;
  column-gap: 40px;
}

/* Sermon Bg One Start  */
.sermon_bg_one {
  padding-top: 180px;
  width: 50%;
  background: url(../images/sermons-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sermon_bg_one img {
  width: 100%;
}
.sermon_bg_one .overlay {
  padding: 53px 20px 30px;
  background: rgba(0, 0, 0, 0.8);
}
.sermon_content {
  padding: 0 2px;
}
.sermon_content_heading h4 {
  color: white;
  font-size: 30px;
  font-family: "Playfair Display", serif;
}
.sermon_desk p {
  display: inline-block;
  font-style: italic;
  font-size: 20px;
  color: #a1a1a1;
  font-family: "Source Sans 3", serif;
}
.sermon_desk .johan {
  color: #e4b855;
  font-family: "Source Sans 3", serif;
  font-style: italic;
  font-size: 18px;
  transition: 0.4s;
}
.sermon_desk .johan:hover {
  color: white;
}
.sermon_desk_date {
  padding-left: 30px;
}
.sermon_desk ul,
li {
  display: inline-block;
}
.sermon_desk ul,
li a {
  padding-left: 20px;
  color: white;
  font-size: 35px;
  transition: 0.4s;
}
.sermon_desk ul,
li a:hover {
  color: #e4b855;
}
.sermon_content .dtl {
  padding: 24px 285px 15px 0;
  font-size: 20px;
  color: #a1a1a1;
  font-family: "Source Sans 3", serif;
}
.sermon_btn p {
  padding: 12px 0 12px 125px;
  font-size: 19px;
  line-height: 27px;
  font-family: "Source Sans 3", serif;
  color: #606060;
}
.sermon_btn a {
  font-style: italic;
  font-family: "Source Sans 3", serif;
  font-size: 18px;
  color: #e4b855;
  transition: 0.4s;
}
.sermon_btn a:hover {
  color: #606060;
}
/* Serrmon Bg Two Start  */
.sermon_bg_two {
  padding-top: 180px;
  width: 50%;
  background: url(../images/sermons-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sermon_bg_two img {
  width: 100%;
}
.sermon_bg_two .overlay {
  padding: 53px 20px 30px;
  background: rgba(0, 0, 0, 0.8);
}
/* Sermon Part End

/* News Part Start  */
#news_part {
  padding: 10px 0;
  padding-bottom: 100px;
}
.news_heading {
  padding: 90px 0;
  text-align: center;
}
.news_heading h1 {
  font-size: 33px;
}
.news_heading p {
  padding: 0 320px;
  font-size: 22px;
  line-height: 26px;
  font-family: "Source Sans 3", serif;
  color: #606060;
}
.news_flex {
  display: flex;
  flex-wrap: wrap;
}
.new_image_one {
  width: 50%;
}
.new_image_one img {
  width: 100%;
  transition: 0.4s;
}
.new_image_one img:hover {
  -webkit-box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.53);
}
.news_content {
  width: 50%;
  padding: 120px 0;
}
.news_date_by {
  padding-left: 30px;
  color: #606060;
  font-family: "Source Sans 3", serif;
  font-size: 20px;
}
.news_date_by .by {
  padding-left: 40px;
  font-family: "Source Sans 3", serif;
  font-size: 20px;
}
.news_date_by .ad {
  padding: 0;
  color: #e4b855;
  font-family: "Source Sans 3", serif;
  font-size: 20px;
}
.news_date_by .ad:hover {
  color: black;
}
.news_pera {
  padding-left: 31px;
}
.news_pera h1 {
  font-size: 30px;
  color: black;
  transition: 0.4s;
}
.news_pera h1:hover {
  color: #e4b855;
}
.news_pera p {
  padding: 12px 123px 12px 0;
  font-size: 19px;
  line-height: 27px;
  font-family: "Source Sans 3", serif;
  color: #606060;
}
.news_pera .news_btn a {
  font-style: italic;
  font-family: "Source Sans 3", serif;
  font-size: 18px;
  color: #e4b855;
  transition: 0.4s;
}
.news_pera a:hover {
  color: #606060;
}
/* News Part End */

/* Word Part Start  */
#word_part {
  padding: 50px 0;
}
.word_part_image {
  background: url(../images/events-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.word_part_image .overlay {
  padding: 150px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.word_text {
  padding: 43px 0;
  border: 2px solid white;
}
.word_text i {
  color: #e4b855;
  font-size: 50px;
}
.word_text h1 {
  padding: 0 20px;
  color: white;
  font-size: 38px;
  font-family: "Playfair Display", serif;
}
.word_text p {
  color: #e4b855;
  font-size: 20px;
  font-family: "Source Sans 3", serif;
}

/* Word Part End  */

/* Soon Part Start  */
#soon_part {
  padding: 10px 0;
}
.soon_heading {
  padding: 90px 0;
  text-align: center;
}
.soon_heading h1 {
  font-size: 33px;
}
.soon_heading p {
  padding: 0 320px;
  font-size: 22px;
  line-height: 26px;
  font-family: "Source Sans 3", serif;
  color: #606060;
}
.soon_flex {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.soon_image_one {
  padding-top: 200px;
  background: url(../images/gallery-10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.soon_image_one .overlay {
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.7);
}
.soon_pera {
  padding-left: 31px;
}
.soon_pera h1 {
  font-size: 30px;
  color: white;
  transition: 0.4s;
}
.soon_pera h1:hover {
  color: #e4b855;
}
.soon_pera p {
  padding: 12px 123px 12px 0;
  font-size: 19px;
  line-height: 27px;
  font-family: "Source Sans 3", serif;
  color: #606060;
}
.soon_pera .soon_btn a {
  font-style: italic;
  font-family: "Source Sans 3", serif;
  font-size: 18px;
  color: #e4b855;
  transition: 0.4s;
}
.soon_pera a:hover {
  color: #606060;
}
/* Soon Part End  */

/* Donation Part Start  */
#donation_part {
  padding: 100px 0;
}
.donation_bg {
  background: url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.donation_overlay {
  padding: 0 0;
  background: rgba(0, 0, 0, 0.6);
}
.donation_heading {
  padding: 90px 0;
  text-align: center;
}
.donation_heading h1 {
  color: white;
  font-size: 33px;
}
.donation_heading p {
  padding: 0 320px;
  font-size: 22px;
  line-height: 26px;
  font-family: "Source Sans 3", serif;
  color: #ababab;
}
.donation_info {
  padding: 75px 0 55px 9px;
  display: flex;
  justify-content: space-between;
  background: #f8f8f8;
}
.donation_info_one .soon_pera {
  padding: 0 0;
}
.donation_info_one .soon_pera h1 {
  font-size: 30px;
  color: black;
  transition: 0.4s;
}
.donation_info_one .soon_pera h1:hover {
  color: #e4b855;
}
.donation_info_one .donation_info_p {
  display: inline-block;
  padding-right: 0;
}
/* Donation Part End  */

/* Cause Part Start  */
#cause_part {
  padding-bottom: 150px;
}
.cause_heading {
  padding: 90px 0;
  text-align: center;
}
.cause_heading h1 {
  color: black;
  font-size: 33px;
}
.cause_heading p {
  padding: 0 320px;
  font-size: 22px;
  line-height: 26px;
  font-family: "Source Sans 3", serif;
  color: #606060;
}
.cause_flex {
  display: flex;
}
.cause_image {
  text-align: center;
}
.cause_image img {
  border-radius: 50%;
}
.cause_image h1 {
  padding: 20px 0;
  font-family: "Source Sans 3", serif;
  color: #606060;
}
.cause_image p {
  color: #606060;
  font-size: 16px;
  font-family: "Source Sans 3", serif;
}
/* Cause Part End  */

/* Portfolio Part Start  */
#portfolio_part {
  padding: 10px 0;
  background: #f9f9f9;
}
.portfolio_heading {
  padding: 90px 0;
  text-align: center;
}
.portfolio_heading h1 {
  color: black;
  font-size: 33px;
}
.portfolio_heading p {
  padding: 0 320px;
  font-size: 22px;
  line-height: 26px;
  font-family: "Source Sans 3", serif;
  color: #606060;
}
.portfolio_flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}
.port_image_one {
  width: 760px;
}
.port_image_two {
  width: 400px;
}
.port_image_three {
  height: 200px;
  width: 400px;
}
/* Portfolio Part End  */

/* Email Bar Part Start  */
#email_bar_part {
  padding: 5px 0;
  padding-bottom: 50px;
}
.email_bar_bg {
  background: url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.email_bar_overlay {
  padding: 200px 0;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.email_bar_overlay h3 {
  padding: 0 300px 30px;
  color: white;
  font-family: "Source Sans 3", serif;
  font-style: italic;
  font-size: 20px;
}
.email_bar_overlay a {
  padding: 18px 37px;
  color: white;
  font-family: "Source Sans 3", serif;
  font-size: 13px;
  background: #e4b855;
  border-radius: 50px;
  transition: 0.4s;
}
.email_bar_overlay a:hover {
  color: #e4b855;
  background: white;
}
/* Email Bar Part End  */

/* Support Part Start  */
#support_part{
  padding: 0;
}
.support_heading {
  padding: 90px 0;
  text-align: center;
}
.support_heading h1 {
  color: black;
  font-size: 33px;
}
.support_heading p {
  padding: 0 320px;
  font-size: 22px;
  line-height: 26px;
  font-family: "Source Sans 3", serif;
  color: #606060;
}
.support_flex{
  display: flex;
  justify-content: space-between;
}
.support_image{
  padding: 70px 0;
  background: #FBFBFB;
  transition: .4s;
}
.support_image img{
  padding: 0 50px;
  width: 200px;
}
.support_image:hover{
  background: #e4b855;
}

/* Support Part End  */

/* Footer Part Start  */

/* Footer Part End  */

/* Word Part Start  */
/* Word Part End  */

/* Word Part Start  */
/* Word Part End  */

/* Word Part Start  */
/* Word Part End  */